@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}

:root {
  scroll-behavior: smooth !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
body {
  background-color: #121214;
}

body,
input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #8a8f98;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* ::-webkit-scrollbar-track {
  background: $color-gray;
  @include border_radius(10px);
} */
::-webkit-scrollbar-thumb {
  background: #202024;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202024;
}

.img-responsive-16by9 {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.ds_none {
  display: none !important;
}

.container {
  height: 100vh;
  width: min(90vw, 1300px);
  margin: auto;
  display: flex;
}
.container_sidebar {
  width: 40%;
  height: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_sidebar img {
  width: 9rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  object-fit: cover;
}
.container_sidebar h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container_sidebar p {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #8a8f98;
}
.container_sidebar p span {
  filter: brightness(140%);
  font-weight: 700;
}
.container_sidebar .contacts {
  margin-top: auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
.container_sidebar .contacts li {
  margin-right: 2rem;
}
.container_sidebar .contacts li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}
.container_sidebar .contacts li:last-child {
  margin-left: auto;
}
.container_sidebar .contacts li:last-child button {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #202024;
  color: #fff;
  font-size: 0.8rem;
  transition: all 0.2s;
}
.container_sidebar .contacts li:last-child button:hover {
  background-color: #29292e;
  color: #fff;
}
.container_main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem 0 4rem;
  margin-top: 4rem;
  position: relative;
}
.container_main h2 {
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container_main_projects {
  display: flex;
  flex-direction: column;
}
.container_main_projects_card {
  flex-basis: 100%;
  min-height: 13rem;
  padding: 1.6rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #202024;
  border-bottom: 2px solid #80d0c7;
  cursor: pointer;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.container_main_projects_card img {
  width: 10rem;
  margin-right: 1.6rem;
  object-fit: cover;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.container_main_projects_card_details {
  flex: 1;
  height: 100%;
}
.container_main_projects_card_details_title {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.container_main_projects_card_details_title h3 {
  flex-basis: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container_main_projects_card_details_title .created_at {
  flex-basis: 30%;
  margin-left: auto;
  font-size: 0.75rem;
  text-align: right;
  font-weight: 400;
  color: #d9d9d9;
}
.container_main_projects_card_details p {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #8a8f98;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container_main_projects_card_details ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container_main_projects_card_details ul li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #121214;
  color: #8a8f98;
  font-weight: 400;
  font-size: 0.8rem;
}
.container_main_projects_card:hover {
  background-color: #29292e;
  transform: scale(1.05);
}
.container_main:after {
  content: "";
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #121214 90%);
  width: 100%;
  height: 2.5em;
}

/*# sourceMappingURL=app.css.map */
