@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}

:root {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}

.container {
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  padding: 5px 8px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.img-responsive-16by9 {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.ds_none {
  display: none !important;
}

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #00adb5;
}
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  -moz-border-radius: 0 100% 100% 0/50%;
  -webkit-border-radius: 0 100% 100% 0/50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}

.main_header {
  background-color: #222831;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main_header .main_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_header .main_header_content .brand {
  font-size: 1.2em;
  font-weight: 700;
}
.main_header .main_header_content .brand h1 {
  color: #343E5C;
  color: #f8f9fa;
}
.main_header .main_header_content .brand p {
  color: #bdc6d0;
}
.main_header .main_header_content .menu ul {
  display: flex;
  font-weight: 700;
}
.main_header .main_header_content .menu ul li a {
  display: block;
  padding: 10px 15px;
  color: #f8f9fa;
}
.main_header .main_header_content .menu ul li a:hover {
  background-color: #37414f;
}
.main_header .main_header_content .menu_mobile {
  position: relative;
  cursor: pointer;
  display: none;
}
.main_header .main_header_content .menu_mobile i {
  color: white;
  font-size: 1.7em;
}
.main_header .main_header_content .menu_mobile .menu_mobile_submenu {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #222831;
  padding: 15px 0;
  border: 1px solid #666;
}
.main_header .main_header_content .menu_mobile .menu_mobile_submenu li a {
  display: block;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
}
.main_header .main_header_content .menu_mobile .menu_mobile_submenu li:hover {
  background-color: #37414f;
}
.main_header .main_header_content a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .menu {
    display: none !important;
  }

  .menu_mobile {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .brand {
    font-size: 0.9em !important;
  }
}
.main_footer {
  padding: 15px 0;
  background-color: #222831;
  color: #f8f9fa;
}
.main_footer .main_footer_content {
  text-align: center;
}
.main_footer .main_footer_content p {
  font-size: 0.875em;
}

body {
  position: relative;
}

.back_to_top {
  position: absolute;
  bottom: 100px;
  right: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-weight: 400;
  font-size: 1.5em;
  color: #f8f9fa;
  background-color: #222831;
  text-decoration: none;
}

.main_slide {
  background-image: url("../../assets/images/img-slide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
}
.main_slide .main_slide_content {
  height: 430px;
  display: flex;
  align-items: center;
}
.main_slide .main_slide_content .about {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.3em;
  font-weight: 100;
  color: #f8f9fa;
}
.main_slide .main_slide_content .about h1 {
  margin-bottom: 10px;
}

.main_portfolio {
  padding: 40px 0;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_title {
  border-bottom: 1px solid #343E5C;
  padding: 15px 0;
  margin-bottom: 30px;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_title h1 {
  color: #343E5C;
  font-size: 2em;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item {
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_img {
  width: 100%;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_img img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: middle;
  border-style: none;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body {
  padding: 15px;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body h2 {
  margin-bottom: 10px;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body h2 a {
  font-size: 0.9em;
  color: #222831;
  text-decoration: none;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body p {
  font-size: 0.9em;
  color: #393e46;
  margin-bottom: 10px;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body small {
  color: #666;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_body ul li {
  padding: 3px 6px;
  margin: 2px;
  border: 1px solid #00adb5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #00adb5;
  font-size: 0.875em;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_footer .btn {
  flex-basis: 45%;
  height: 30px;
  background-color: #fff;
  border-color: #505762;
  color: #505762;
}
.main_portfolio .main_portifolio_content .main_portifolio_content_list .main_portifolio_content_item .main_portifolio_content_item_footer .btn:hover {
  background-color: #505762;
  color: white;
}

.main_about {
  padding: 40px 0;
  background-color: #f8f9fa;
}
.main_about .main_about_content .main_about_content_title {
  border-bottom: 1px solid #343E5C;
  padding: 15px 0;
  margin-bottom: 30px;
}
.main_about .main_about_content .main_about_content_title h1 {
  color: #343E5C;
  font-size: 2em;
}
.main_about .main_about_content .main_about_content_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.main_about .main_about_content .main_about_content_profile .profile_img {
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.main_about .main_about_content .main_about_content_profile .profile_img img {
  width: 160px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.main_about .main_about_content .main_about_content_profile p {
  font-size: 1.1em;
  color: #393e46;
  margin-bottom: 20px;
  text-align: center;
}
.main_about .main_about_content .main_about_content_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_about .main_about_content .main_about_content_skills h2 {
  font-size: 1.1em;
  color: #393e46;
  margin-bottom: 15px;
  text-align: center;
}
.main_about .main_about_content .main_about_content_skills ul {
  padding: 20px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main_about .main_about_content .main_about_content_skills ul li {
  flex-basis: 20%;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}
.main_about .main_about_content .main_about_content_skills ul li .skill_name {
  margin-top: -5px;
  font-size: 14px;
}

.main_contact {
  padding: 40px 0;
  background-color: #393e46;
}
.main_contact .main_contact_content .main_contact_content_title {
  border-bottom: 1px solid #f8f9fa;
  padding: 15px 0;
  margin-bottom: 30px;
}
.main_contact .main_contact_content .main_contact_content_title h1 {
  color: #f8f9fa;
  font-size: 2em;
}
.main_contact .main_contact_content .main_contact_content_options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_contact .main_contact_content .main_contact_content_options h2 {
  font-size: 1.1em;
  color: #f8f9fa;
  margin-bottom: 15px;
}
.main_contact .main_contact_content .main_contact_content_options form {
  flex-basis: 60%;
  margin-bottom: 30px;
}
.main_contact .main_contact_content .main_contact_content_options form input,
.main_contact .main_contact_content .main_contact_content_options form textarea {
  width: 100%;
  max-width: 720px;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
}
.main_contact .main_contact_content .main_contact_content_options form textarea {
  min-height: 100px;
  min-width: 100%;
}
.main_contact .main_contact_content .main_contact_content_options form button {
  padding: 8px 13px;
  background-color: #222831;
  color: white;
  font-weight: bold;
}
.main_contact .main_contact_content .main_contact_content_options form button:hover {
  background-color: #4c596d;
}
.main_contact .main_contact_content .main_contact_content_options .social_network {
  flex-basis: 20%;
  min-width: 250px;
}
.main_contact .main_contact_content .main_contact_content_options .social_network a {
  text-decoration: none;
}
.main_contact .main_contact_content .main_contact_content_options .social_network a img {
  width: 35px;
}

@media (max-width: 768px) {
  .main_contact_content_options form, .main_contact_content_options .social_network {
    flex-basis: 100% !important;
  }
}
@media (max-width: 1024px) {
  .main_portifolio_content_item {
    flex-basis: 45% !important;
  }
}
@media (max-width: 720px) {
  .main_portifolio_content_item {
    flex-basis: 100% !important;
  }
}

/*# sourceMappingURL=app.css.map */
