* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  font-size: $fontSize;
  font-family: $font-family;
}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #ebebeb; 
  @include border_radius(10px); 
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  @include border_radius(10px);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141); 
}


.container {
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  padding: 5px 8px;
  border: 1px solid transparent;
  @include border_radius(0.25rem);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.img-responsive-16by9 {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.ds_none {
  display: none !important;
}
