$font-family-primary: "Ubuntu", sans-serif;
$font-family-secondary: "Ubuntu Mono", monospace;

$color-white: #fff;
$color-blue: #0093e9;
$color-blue-50: #80d0c7;
$color-dark: #121214;
$color-dark-50: rgb(32, 32, 36);
$color-dark-30: rgb(41, 41, 46);
$color-gray: #979ca7;
$color-green-50: #93ff93;
$color-red-50: #ff8484;
