$fontSize: 16px;
$font-family: "PT Sans", sans-serif;
$color-font-default: #343e5c;

$color-main-default: #222831;
$color-main-secondary: #393e46;
$color-main-light-blue: #00adb5;
$color-main-light: #f8f9fa;
