.container {
  height: 100vh;
  width: min(90vw, 1300px);
  margin: auto;

  display: flex;

  &_sidebar {
    width: 40%;
    height: 100%;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 9rem;
      margin-bottom: 2rem;
      @include border_radius(50%);
      object-fit: cover;
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: 2.5rem;

      background: -webkit-linear-gradient(160deg, $color-blue 0%, $color-blue-50 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      text-align: left;
      font-size: 0.9rem;
      line-height: 1.7;
      color: $color-gray;
    }

    ul {
      margin-top: auto;
      padding-top: 2rem;

      display: flex;
      align-items: center;

      li {
        margin-right: 2rem;

        a {
          text-decoration: none;
          color: $color-white;
          font-size: 1.3rem;
          font-weight: 700;
        }

        &:last-child {
          margin-left: auto;

          button {
            padding: 0.5rem 0.7rem;
            @include border_radius(5px);
            background-color: $color-dark-50;
            color: $color-white;
            font-size: 0.8rem;

            transition: all 0.2s;

            &:hover {
              background-color: $color-dark-30;
              color: $color-white;
            }
          }
        }
      }
    }
  }

  &_main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 2rem 0 4rem;
    margin-top: 4rem;

    position: relative;

    &_projects {
      h2 {
        margin-bottom: 2rem;

        background: -webkit-linear-gradient(160deg, $color-blue 0%, $color-blue-50 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      display: flex;
      flex-direction: column;

      &_card {
        flex-basis: 100%;
        min-height: 13rem;
        padding: 1.6rem;
        margin-bottom: 1.5rem;
        @include border_radius(5px);
        background-color: $color-dark-50;
        border-bottom: 2px solid $color-blue-50;
        cursor: pointer;

        display: flex;

        img {
          width: 10rem;
          margin-right: 1.6rem;
          object-fit: cover;
          @include border_radius(5px);
        }

        &_details {
          flex: 1;
          height: 100%;

          &_title {
            margin-bottom: 0.8rem;
            width: 100%;

            display: flex;
            align-items: center;

            h3 {
              flex-basis: 70%;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .created_at {
              flex-basis: 30%;
              margin-left: auto;
              font-size: 0.75rem;
              text-align: right;
              font-weight: 400;
              color: darken($color-white, 15);
            }
          }

          p {
            margin-bottom: 0.8rem;
            font-size: 0.9rem;
            line-height: 1.6;
            color: $color-gray;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li {
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
              padding: 0.3rem 0.5rem;
              @include border_radius(10px);
              background-color: $color-dark;
              color: $color-gray;
              font-weight: 400;
              font-size: 0.8rem;
            }
          }
        }

        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $color-dark-30;
          transform: scale(1.05);
        }
      }
    }

    &:after {
      content: "";
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-dark 90%);
      width: 100%;
      height: 2.5em;
    }
  }
}
